<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.aviva.fizzbuzz.FizzBuzzTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testNumberHghThen1000</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>processNumberdivby5Test</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testWednesdaydiv5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPositiveNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>processNumberdivby15Test</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testZeroNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>processNumberdivby3Test</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testWednesdaydiv3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testNegativeNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>processNumberTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testWednesday</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
