<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2f3a9">  <td>16/11/09 00:41:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FizzBuzzTest.processNumberTest()[pri:0, instance:test.aviva.fizzbuzz.FizzBuzzTest@2e3f8a3e]">processNumberTest</td> 
  <td>main@1009547973</td>   <td></td> </tr>
<tr bgcolor="a2f3a9">  <td>16/11/09 00:41:28</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FizzBuzzTest.processNumberdivby15Test()[pri:0, instance:test.aviva.fizzbuzz.FizzBuzzTest@2e3f8a3e]">processNumberdivby15Test</td> 
  <td>main@1009547973</td>   <td></td> </tr>
<tr bgcolor="a2f3a9">  <td>16/11/09 00:41:28</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FizzBuzzTest.processNumberdivby3Test()[pri:0, instance:test.aviva.fizzbuzz.FizzBuzzTest@2e3f8a3e]">processNumberdivby3Test</td> 
  <td>main@1009547973</td>   <td></td> </tr>
<tr bgcolor="a2f3a9">  <td>16/11/09 00:41:28</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FizzBuzzTest.processNumberdivby5Test()[pri:0, instance:test.aviva.fizzbuzz.FizzBuzzTest@2e3f8a3e]">processNumberdivby5Test</td> 
  <td>main@1009547973</td>   <td></td> </tr>
<tr bgcolor="a2f3a9">  <td>16/11/09 00:41:28</td>   <td>-26</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FizzBuzzTest.setUp()[pri:0, instance:test.aviva.fizzbuzz.FizzBuzzTest@2e3f8a3e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1009547973</td>   <td></td> </tr>
<tr bgcolor="a2f3a9">  <td>16/11/09 00:41:28</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FizzBuzzTest.testNegativeNumber()[pri:0, instance:test.aviva.fizzbuzz.FizzBuzzTest@2e3f8a3e]">testNegativeNumber</td> 
  <td>main@1009547973</td>   <td></td> </tr>
<tr bgcolor="a2f3a9">  <td>16/11/09 00:41:28</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FizzBuzzTest.testNumberHghThen1000()[pri:0, instance:test.aviva.fizzbuzz.FizzBuzzTest@2e3f8a3e]">testNumberHghThen1000</td> 
  <td>main@1009547973</td>   <td></td> </tr>
<tr bgcolor="a2f3a9">  <td>16/11/09 00:41:28</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FizzBuzzTest.testPositiveNumber()[pri:0, instance:test.aviva.fizzbuzz.FizzBuzzTest@2e3f8a3e]">testPositiveNumber</td> 
  <td>main@1009547973</td>   <td></td> </tr>
<tr bgcolor="a2f3a9">  <td>16/11/09 00:41:28</td>   <td>56</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FizzBuzzTest.testWednesday()[pri:0, instance:test.aviva.fizzbuzz.FizzBuzzTest@2e3f8a3e]">testWednesday</td> 
  <td>main@1009547973</td>   <td></td> </tr>
<tr bgcolor="a2f3a9">  <td>16/11/09 00:41:28</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FizzBuzzTest.testWednesdaydiv3()[pri:0, instance:test.aviva.fizzbuzz.FizzBuzzTest@2e3f8a3e]">testWednesdaydiv3</td> 
  <td>main@1009547973</td>   <td></td> </tr>
<tr bgcolor="a2f3a9">  <td>16/11/09 00:41:28</td>   <td>66</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FizzBuzzTest.testWednesdaydiv5()[pri:0, instance:test.aviva.fizzbuzz.FizzBuzzTest@2e3f8a3e]">testWednesdaydiv5</td> 
  <td>main@1009547973</td>   <td></td> </tr>
<tr bgcolor="a2f3a9">  <td>16/11/09 00:41:28</td>   <td>72</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FizzBuzzTest.testZeroNumber()[pri:0, instance:test.aviva.fizzbuzz.FizzBuzzTest@2e3f8a3e]">testZeroNumber</td> 
  <td>main@1009547973</td>   <td></td> </tr>
</table>
